fastapi
uvicorn[standard]
sqlalchemy
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
groq

spacy
PyMuPDF
python-docx
pandas
openpyxl
aiofiles
email-validator
